.row
  .col-xs-6
    a.thumbnail
      img.lazy.img-responsive(data-original="img/bmw_m1_side.jpg" alt="BMW M1 Side" style='width: 765px; height: 574px; background-image: url("img/grey")')
  .col-xs-6
    a.thumbnail
      img.lazy.img-responsive(data-original="img/viper_1.jpg" alt="Viper 1" style='width: 765px; height: 574px; background-image: url("img/grey")')
  .col-xs-6
    a.thumbnail
      img.lazy.img-responsive(data-original="img/viper_corner.jpg" alt="Viper Corner" style='width: 765px; height: 574px; background-image: url("img/grey")')
  .col-xs-6
    a.thumbnail
      img.lazy.img-responsive(data-original="img/bmw_m3_gt.jpg" alt="BMW M3 GT" style='width: 765px; height: 574px; background-image: url("img/grey")')
  .col-xs-6
    a.thumbnail
      img.lazy.img-responsive(data-original="img/corvette_pitstop.jpg" alt="Corvette" style='width: 765px; height: 574px; background-image: url("img/grey")')
