.row
  .col-xs-6
    a.thumbnail
      img.lazy(data-original='//lorempixel.com/1500/1051/cats/0' alt='lorempixel' width='1500' height='1051')
  .col-xs-6
    a.thumbnail
      img.lazy(data-original='//placehold.it/1500x1051/59D5F3/fff' alt='placehold.it' width='1500' height='1051')
  .col-xs-6
    a.thumbnail
      img.lazy(data-original='//lorempixel.com/1500/1051/cats/1' alt='lorempixel' width='1500' height='1051')
  .col-xs-6
    a.thumbnail
      img.lazy(data-original='//placehold.it/1500x1051/59C493/fff' alt='placehold.it' width='1500' height='1051')
  .col-xs-6
    a.thumbnail
      img.lazy(data-original='//lorempixel.com/1500/1051/cats/2' alt='lorempixel' width='1500' height='1051')
  .col-xs-6
    a.thumbnail
      img.lazy(data-original='//placehold.it/1500x1051/F6BE64/fff' alt='placehold.it' width='1500' height='1051')
  .col-xs-6
    a.thumbnail
      img.lazy(data-original='//lorempixel.com/1500/1051/cats/3' alt='lorempixel' width='1500' height='1051')
  .col-xs-6
    a.thumbnail
      img.lazy(data-original='//placehold.it/1500x1051/E56A97/fff' alt='placehold.it' width='1500' height='1051')
  .col-xs-6
    a.thumbnail
      img.lazy(data-original='//lorempixel.com/1500/1051/cats/4' alt='lorempixel' width='1500' height='1051')
  .col-xs-6
    a.thumbnail
      img.lazy(data-original='//placehold.it/1500x1051/9794C5/fff' alt='placehold.it' width='1500' height='1051')
  .col-xs-6
    a.thumbnail
      img.lazy(data-original='404.jpg' alt='404' width='1500' height='1051')
