.row
  .col-xs-6
    .lazy(data-original="//lorempixel.com/1500/1051/cats/0" style='background-image: url("//placehold.it/1x1/"); background-size: contain; height: 300px;')
  .col-xs-6
    .lazy(data-original="//placehold.it/1500x1051/59D5F3/fff" alt="placehold.it" style='background-image: url("//placehold.it/1x1/"); background-size: contain; height: 300px;')
  .col-xs-6
    .lazy(data-original="//lorempixel.com/1500/1051/cats/1" style='background-image: url("//placehold.it/1x1/"); background-size: contain; height: 300px;')
  .col-xs-6
    .lazy(data-original="//placehold.it/1500x1051/59C493/fff" alt="placehold.it" style='background-image: url("//placehold.it/1x1/"); background-size: contain; height: 300px;')
  .col-xs-6
    .lazy(data-original="//lorempixel.com/1500/1051/cats/2" style='background-image: url("//placehold.it/1x1/"); background-size: contain; height: 300px;')
  .col-xs-6
    .lazy(data-original="//placehold.it/1500x1051/F6BE64/fff" alt="placehold.it" style='background-image: url("//placehold.it/1x1/"); background-size: contain; height: 300px;')
  .col-xs-6
    .lazy(data-original="//lorempixel.com/1500/1051/cats/3" style='background-image: url("//placehold.it/1x1/"); background-size: contain; height: 300px;')
  .col-xs-6
    .lazy(data-original="//placehold.it/1500x1051/E56A97/fff" alt="placehold.it" style='background-image: url("//placehold.it/1x1/"); background-size: contain; height: 300px;')
  .col-xs-6
    .lazy(data-original="//lorempixel.com/1500/1051/cats/4" style='background-image: url("//placehold.it/1x1/"); background-size: contain; height: 300px;')
  .col-xs-6
    .lazy(data-original="//placehold.it/1500x1051/9794C5/fff" alt="placehold.it" style='background-image: url("//placehold.it/1x1/"); background-size: contain; height: 300px;')
  .col-xs-6
    .lazy(data-original="404.jpg" alt="404" style='background-image: url("//placehold.it/1x1/"); background-size: contain; height: 300px;')
