aside.main-sidebar
  section.sidebar
    ul.sidebar-menu
      li.header NAVIGATION

      li.treeview
        a(href='#')
          i.fa.fa-dashboard
          span Dashboard

      li.header SAMPLES

      li.treeview
        a(href='#')
          i.fa.fa-circle-o
          | sample01

      li.treeview
        a(href='#')
          i.fa.fa-circle-o
          | sample01

      li.treeview
        a(href='#')
          i.fa.fa-circle-o
          | sample01

      li.treeview
        a(href='#')
          i.fa.fa-circle-o
          | sample01

      li.treeview
        a(href='#')
          i.fa.fa-circle-o
          | sample01

      li.treeviewfuu
        a(href='#')
          i.fa.fa-circle-o
          | sample01

      li.header LINKS

      li.treeview
        a(href='#')
          i.fa.fa-github
          | github

